@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import "./Vars.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  outline: none;
  text-decoration: none;
}

body {
  min-height: 100vh;
  width: 100%;
  color: $font;
  background: $background;
}